
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/Layouts/_LayoutPageMain.cshtml";
}


<!--================Feature Product Area =================-->
<section class="feature_product_area">
    <div class="main_box">
        <div class="container">
            <div class="row hot_product_inner">
                <div class="col-lg-6">
                    <div class="hot_p_item">
                        <img class="img-fluid" src="~/Content/Images/BoxImages/headerkutu1.jpg" alt="">

                        <div class="product_text">
                            <h4>Motivasyon <br />Aylık Kutu</h4>
                            <a href="#">Alışverişe Başla!</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hot_p_item">
                        <img class="img-fluid" src="~/Content/Images/BoxImages/headerkutu2.jpg" alt="">
                        <div class="product_text">
                            <h4>Kahve Türleri <br />Aylık Kutu</h4>
                            <a href="#">Alışverişe Başla!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feature_product_inner">
                <div class="main_title">
                    <h2>Özel Ürünler</h2>
                    <p>Çevre dostu kutular</p>
                </div>
                <div class="feature_p_slider owl-carousel">
                    <div class="item">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/Images/BoxImages/kutu2.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#"><i class="lnr lnr-heart"></i></a>
                                    <a href="#"><i class="lnr lnr-cart"></i></a>
                                </div>
                            </div>
                            <a href="#"><h4>Yılbaşı</h4></a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/Images/BoxImages/kutu3.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#"><i class="lnr lnr-heart"></i></a>
                                    <a href="#"><i class="lnr lnr-cart"></i></a>
                                </div>
                            </div>
                            <a href="#"><h4>Gülen Bardaklar</h4></a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/Images/BoxImages/kutu4.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#"><i class="lnr lnr-heart"></i></a>
                                    <a href="#"><i class="lnr lnr-cart"></i></a>
                                </div>
                            </div>
                            <a href="#"><h4>Kahve Türleri</h4></a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/Images/BoxImages/kutu5.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#"><i class="lnr lnr-heart"></i></a>
                                    <a href="#"><i class="lnr lnr-cart"></i></a>
                                </div>
                            </div>
                            <a href="#"><h4>Süpriz Kutu</h4></a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/Images/BoxImages/kutu12.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#"><i class="lnr lnr-heart"></i></a>
                                    <a href="#"><i class="lnr lnr-cart"></i></a>
                                </div>
                            </div>
                            <a href="#"><h4>Long Sleeve TShirt</h4></a>
                            <h5>$150.00</h5>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Feature Product Area =================-->
<!--================Deal Timer Area =================-->
<section class="timer_area">
    <div class="container">
        <div class="main_title">
            <h2>Abonelik Üyelik Fırsatları!!</h2>
            <p>100TL ÜZERİTÜM SİPARİŞLERE KARGO ÜCRETSİZ!</p>
            <a class="main_btn" href="#">Alışverişe Başla!</a>
        </div>
        <div class="timer_inner">
            <div id="timer" class="timer">
                <div class="timer__section days">
                    <div class="timer__number"></div>
                    <div class="timer__label">gün</div>
                </div>
                <div class="timer__section hours">
                    <div class="timer__number"></div>
                    <div class="timer__label">saat</div>
                </div>
                <div class="timer__section minutes">
                    <div class="timer__number"></div>
                    <div class="timer__label">dakika</div>
                </div>
                <div class="timer__section seconds">
                    <div class="timer__number"></div>
                    <div class="timer__label">saniye</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Deal Timer Area =================-->
<!--================Latest Product Area =================-->
<section class="feature_product_area latest_product_area">
    <div class="main_box">
        <div class="container">
            <div class="feature_product_inner">
                <div class="main_title">
                    <h2>En Son Ürünler</h2>
                    <p>İstanbul içi siparişlerde aynı gün teslimat!</p>
                </div>
                <div class="latest_product_inner row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/Images/BoxImages/kutu11.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#"><i class="lnr lnr-heart"></i></a>
                                    <a href="#"><i class="lnr lnr-cart"></i></a>
                                </div>
                            </div>
                            <a href="#"><h4>Long Sleeve TShirt</h4></a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/Images/BoxImages/kutu3.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#"><i class="lnr lnr-heart"></i></a>
                                    <a href="#"><i class="lnr lnr-cart"></i></a>
                                </div>
                            </div>
                            <a href="#"><h4>Long Sleeve TShirt</h4></a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/Images/BoxImages/kutu4.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#"><i class="lnr lnr-heart"></i></a>
                                    <a href="#"><i class="lnr lnr-cart"></i></a>
                                </div>
                            </div>
                            <a href="#"><h4>Long Sleeve TShirt</h4></a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/Images/BoxImages/kutu5.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#"><i class="lnr lnr-heart"></i></a>
                                    <a href="#"><i class="lnr lnr-cart"></i></a>
                                </div>
                            </div>
                            <a href="#"><h4>Long Sleeve TShirt</h4></a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/Images/BoxImages/kutu3.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#"><i class="lnr lnr-heart"></i></a>
                                    <a href="#"><i class="lnr lnr-cart"></i></a>
                                </div>
                            </div>
                            <a href="#"><h4>Long Sleeve TShirt</h4></a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/Images/BoxImages/kutu4.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#"><i class="lnr lnr-heart"></i></a>
                                    <a href="#"><i class="lnr lnr-cart"></i></a>
                                </div>
                            </div>
                            <a href="#"><h4>Long Sleeve TShirt</h4></a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/Images/BoxImages/kutu2.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#"><i class="lnr lnr-heart"></i></a>
                                    <a href="#"><i class="lnr lnr-cart"></i></a>
                                </div>
                            </div>
                            <a href="#"><h4>Long Sleeve TShirt</h4></a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/Images/BoxImages/kutu4.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#"><i class="lnr lnr-heart"></i></a>
                                    <a href="#"><i class="lnr lnr-cart"></i></a>
                                </div>
                            </div>
                            <a href="#"><h4>Long Sleeve TShirt</h4></a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Latest Product Area =================-->
<!--================Clients Logo Area =================-->
<section class="clients_logo_area">
    <div class="container">
        <div class="main_title">
            <h2>Kutu içerisinde kullanılan markalar</h2>

        </div>
        <div class="clients_slider owl-carousel">
            <div class="item">
                <img src="img/clients-logo/c-logo-1.png" alt="">
            </div>
            <div class="item">
                <img src="img/clients-logo/c-logo-2.png" alt="">
            </div>
            <div class="item">
                <img src="img/clients-logo/c-logo-3.png" alt="">
            </div>
            <div class="item">
                <img src="img/clients-logo/c-logo-4.png" alt="">
            </div>
            <div class="item">
                <img src="img/clients-logo/c-logo-5.png" alt="">
            </div>
        </div>
    </div>
</section>
<!--================End Clients Logo Area =================-->
<!--================Most Product Area =================-->
<section class="most_product_area">
    <div class="main_box">
        <div class="container">
            <div class="main_title">
                <h2>En Çok Aranan Ürünler</h2>

            </div>
            <div class="row most_product_inner">
                <div class="col-lg-3 col-sm-6">
                    <div class="most_p_list">
                        <div class="media">
                            <div class="d-flex">
                                <img src="~/Content/Images/BoxImages/kutu10.jpg" alt="" width="70px;" height="70px;">
                            </div>
                            <div class="media-body">
                                <a href="#"><h4>Black lace Heels</h4></a>
                                <h3>$189.00</h3>
                            </div>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <img src="~/Content/Images/BoxImages/kutu11.jpg" alt="" width="70px;" height="70px;">
                            </div>
                            <div class="media-body">
                                <a href="#"><h4>Black lace Heels</h4></a>
                                <h3>$189.00</h3>
                            </div>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <img src="~/Content/Images/BoxImages/kutu12.jpg" alt="" width="70px;" height="70px;">
                            </div>
                            <div class="media-body">
                                <a href="#"><h4>Black lace Heels</h4></a>
                                <h3>$189.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="most_p_list">
                        <div class="media">
                            <div class="d-flex">
                                <img src="~/Content/Images/BoxImages/kutu13.jpg" alt="" width="70px;" height="70px;">
                            </div>
                            <div class="media-body">
                                <a href="#"><h4>Black lace Heels</h4></a>
                                <h3>$189.00</h3>
                            </div>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <img src="~/Content/Images/BoxImages/kutu14.jpg" alt="" width="70px;" height="70px;">
                            </div>
                            <div class="media-body">
                                <a href="#"><h4>Black lace Heels</h4></a>
                                <h3>$189.00</h3>
                            </div>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <img src="~/Content/Images/BoxImages/kutu15.jpg" alt="" width="70px;" height="70px;">
                            </div>
                            <div class="media-body">
                                <a href="#"><h4>Black lace Heels</h4></a>
                                <h3>$189.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="most_p_list">
                        <div class="media">
                            <div class="d-flex">
                                <img src="~/Content/Images/BoxImages/kutu16.jpg" alt="" width="70px;" height="70px;">
                            </div>
                            <div class="media-body">
                                <a href="#"><h4>Black lace Heels</h4></a>
                                <h3>$189.00</h3>
                            </div>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <img src="~/Content/Images/BoxImages/kutu17.jpg" alt="" width="70px;" height="70px;">
                            </div>
                            <div class="media-body">
                                <a href="#"><h4>Black lace Heels</h4></a>
                                <h3>$189.00</h3>
                            </div>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <img src="~/Content/Images/BoxImages/kutu18.jpg" alt="" width="70px;" height="70px;">
                            </div>
                            <div class="media-body">
                                <a href="#"><h4>Black lace Heels</h4></a>
                                <h3>$189.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="most_p_list">
                        <div class="media">
                            <div class="d-flex">
                                <img src="~/Content/Images/BoxImages/kutu19.jpg" alt="" width="70px;" height="70px;">
                            </div>
                            <div class="media-body">
                                <a href="#"><h4>Black lace Heels</h4></a>
                                <h3>$189.00</h3>
                            </div>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <img src="~/Content/Images/BoxImages/kutu10.jpg" alt="" width="70px;" height="70px;">
                            </div>
                            <div class="media-body">
                                <a href="#"><h4>Black lace Heels</h4></a>
                                <h3>$189.00</h3>
                            </div>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <img src="~/Content/Images/BoxImages/kutu20.jpg" alt="" width="70px;" height="70px;">
                            </div>
                            <div class="media-body">
                                <a href="#"><h4>Black lace Heels</h4></a>
                                <h3>$189.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



